@charset "UTF-8";

.content_write_form01{
     float:left;
     padding-top:50px;
     padding-left:650px;
}
.content_write_form02{
		
     padding-top:27px;
     padding-left:1060px;
}

.content_write_form03{
		
     padding-top:49px;
     padding-left:1060px;
}

.image_align{
      margin-top:300px;
      margin-left:150px;

   
}

.att_zone {
  width: 370px;
  min-height: 650px;
  padding: 0px;
  
}

.att_zone:empty:before {
  content: attr(data-placeholder);
  color: #2d2d2d;
  font-size: 9px;
}


