@charset "UTF-8";

.content_img{
	
     padding:10px;
     
}

.setting{
	width: 25px;	
    margin-left: 100px;
}

.dropdown-item{
	 font-size: 12px;
	 color:#a6a6a6;

}
.content_font01{
	font-size: 12px;
	 color:#004080;
}

.content_font02{
	font-size: 12px;
	 color:#a6a6a6;
}