@charset "UTF-8";
.btn-gradient {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom: 4px solid rgba(0,0,0,0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

div.login_outbox{
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
	margin-bottom:auto;
	width: 465px; 
	height:750px; 
	border:6px solid #f6f6f6; 
	background-color:#f6f6f6;
	border-radius:15px
	
}

div.login_no1 {
	margin-top:0px;
	width: 450px; 
	height:550px; 
	border:2px solid #dddddd; 
	border-radius:15px;
	background-color:white;
	}


.btn{
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	width:80%;
    color: white;
  	padding: 10px 30px;
  	display: inline-block;
  	position: relative;
  	border-radius: 4px;
	background-color:skyblue;
	font-weight: bold;
	font-size: 15px;
	font-family: sans-serif;
	margin-bottom: 10px;
	
}

.btn_login_no1{
	
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	width:80%;
  	padding: 10px 30px;
  	display: inline-block;
  	position: relative;
  	border-radius: 4px;
  	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
	background-color:#f6f6f6;
	border:2px solid #dddddd;
}

input::placeholder {
  color:#a6a6a6;
}

.btn_searchId{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: white;
	border:0px solid white;
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	color: #8c8c8c;
}

.btn_searchPw{
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: white;
	border:0px solid white;
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	color: #8c8c8c;
}



.wqb_write{
	margin:30px 0 30px 0; 
	color:#8c8c8c;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
}

#logo{
	
	padding:15px;
	padding-bottom: 15px;
}
.btn:hover{
	color:white;
       background-color:rgb(84, 184, 226);
       }
       
       
