@charset "UTF-8";
.recommend{
    padding-left:750px;
    padding-top:100px;
}

.col-form-label{
	text-align: right;
	font-weight: bold;
}

.input-file-button{
  padding: 6px 25px;
  background-color:rgb(55, 140, 225);
  border-radius: 4px;
  color: white;
  cursor: pointer;
}